certifi==2019.3.9
chardet==3.0.4
confusable-homoglyphs==3.2.0
dj-database-url==0.5.0
Django==1.11
django-bootstrap3==11.0.0
django-heroku==0.3.1
django-liked==1.0.2
django-registration==2.4.1
greencache==1.0.0
htmq==1.0.0
idna==2.8
like==1.7.1
Pillow==6.0.0
psycopg2==2.8.2
python-decouple==3.1
pytz==2019.1
redcmd==1.2.10
redlib==1.5.7
requests==2.22.0
six==1.12.0
urllib3==1.25.2
vote==1.0.2
whitenoise==4.1.2
zope.interface==4.6.0
